.footer-item {
    background-color: black;
    padding-top: 15px;
}

.footer-links {
    display: flex;
    justify-content: space-evenly;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    color: rgb(255, 0, 0);
    transition: 3s;
}
